<!DOCTYPE html>
<html lang="{{ currentLanguage }}">
<head>
  <title>{{ '{mfa:title}|trans' }}</title>

  {% include 'header.twig' %}
</head>
<body class="gradient-bg">
<div class="mdl-layout mdl-layout--fixed-header fill-viewport">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">
        {{ '{mfa:header}'|trans }}
      </span>
    </div>
  </header>
  <main class="mdl-layout__content" layout-children="column">
    <form layout-children="column" method="post">
      <div class="mdl-card mdl-shadow--8dp">
        <div class="mdl-card__media white-bg margin" layout-children="column">
          <img src="shield.svg" alt="{{ '{mfa:shield_icon}'|trans }}">
        </div>

        <div class="mdl-card__title center">
          <h1 class="mdl-card__title-text">
            {{ '{mfa:required_header}'|trans }}
          </h1>
        </div>

        <div class="mdl-card__title center">
          <p class="mdl-card__subtitle-text">
            {{ '{mfa:required_info}'|trans }}
          </p>
        </div>

        <div class="mdl-card__actions" layout-children="row">
          <span flex></span>

          <button name="setUpMfa" class="mdl-button mdl-button--raised mdl-button--primary">
            {{ '{mfa:button_set_up}'|trans }}
          </button>
        </div>
      </div>
    </form>
  </main>
</div>
</body>
</html>
