<!DOCTYPE html>
<html lang="{{ currentLanguage }}">
<head>
  <title>{{ '{mfa:title}'|trans }}</title>

  {% include 'header.twig' %}
</head>
<body class="gradient-bg">
<div class="mdl-layout mdl-layout--fixed-header fill-viewport">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">
        {{ '{mfa:header}'|trans }}
      </span>
    </div>
  </header>
  <main class="mdl-layout__content" layout-children="column">
    <form layout-children="column" method="post" autocomplete="off">
      <div class="mdl-card mdl-shadow--8dp">
        <div class="mdl-card__media white-bg margin" layout-children="column">
          <img src="mfa-manager.svg" class="icon" alt="{{ '{mfa:manager_icon}'|trans }}">
        </div>

        <div class="mdl-card__title center">
          <h1 class="mdl-card__title-text">
            {{ '{mfa:manager_header}'|trans }}
          </h1>
        </div>

        <div class="mdl-card__title center">
          <p class="mdl-card__subtitle-text">
            {{ '{mfa:manager_sent}'|trans({'%managerEmail%': managerEmail}) }}
          </p>
        </div>

        <div class="mdl-card__supporting-text" layout-children="column">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label for="mfaSubmission" class="mdl-textfield__label">
              {{ '{mfa:manager_input}'|trans }}
            </label>
            <input name="mfaSubmission" class="mdl-textfield__input mdl-color-text--black" autofocus id="mfaSubmission">
          </div>
        </div>

        {% if not errorMessage is empty %}
          <div class="mdl-card__supporting-text" layout-children="column">
            <p class="mdl-color-text--red error">
              <i class="material-icons">error</i>

              <span class="mdl-typography--caption">
                {{ errorMessage|e }}
              </span>
            </p>
          </div>

          <script>
            ga('send', 'event', 'error', 'managercode', '{{ errorMessage|e('js')|raw }}');
          </script>
        {% endif %}

        <div class="mdl-card__actions" layout-children="row">
          <span flex></span>
          <button name="submitMfa" type="submit" class="mdl-button mdl-button--raised mdl-button--primary">
            {{ '{mfa:button_verify}'|trans }}
          </button>
        </div>

        {% include 'other_mfas.twig' %}
      </div>

      <div>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
          <span class="mdl-checkbox__label">
            {{ '{mfa:remember_this}'|trans }}
          </span>
          <input type="checkbox" name="rememberMe" checked class="mdl-checkbox__input">
        </label>
      </div>
    </form>
  </main>
</div>
</body>
</html>
