<!DOCTYPE html>
<html lang="{{ currentLanguage }}">
<head>
  <title>{{ '{mfa:title}'|trans }}</title>

  {{ include('header.twig') }}

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const rememberMeCheckbox = document.getElementById('rememberMe');
      
      if (rememberMeCheckbox) {
        const desiredRememberMeState = localStorage.getItem('desiredRememberMeState');
        if (desiredRememberMeState === 'true') {
          rememberMeCheckbox.checked = true;
        }

        rememberMeCheckbox.addEventListener('change', function() {
          localStorage.setItem('desiredRememberMeState', rememberMeCheckbox.checked);
        });
      }
    });
  </script>
</head>
<body class="gradient-bg">
<div class="mdl-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">
          {{ '{mfa:header}'|trans }}
      </span>
    </div>
  </header>
  <main class="mdl-layout__content" layout-children="column">
    <form layout-children="column" method="post" autocomplete="off">
      <div class="mdl-card mdl-shadow--8dp">
        <div class="mdl-card__media white-bg margin" layout-children="column">
          <img src="mfa-backupcode.svg" class="icon" alt="{{ '{mfa:backupcode_icon}'|trans }}">
        </div>

        <div class="mdl-card__title center">
          <h1 class="mdl-card__title-text">
            {{ '{mfa:backupcode_header}'|trans }}
          </h1>
        </div>

        <div class="mdl-card__title center">
          <p class="mdl-card__subtitle-text">
            {{ '{mfa:backupcode_reminder}'|trans }}
          </p>
        </div>

        <div class="mdl-card__supporting-text" layout-children="column">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label for="mfaSubmission" class="mdl-textfield__label">
              {{ '{mfa:backupcode_input}'|trans }}
            </label>
            <input name="mfaSubmission" class="mdl-textfield__input mdl-color-text--black" autofocus id="mfaSubmission">
          </div>
        </div>

        {% if error_message is not empty %}
          <div class="mdl-card__supporting-text" layout-children="column">
            <p class="mdl-color-text--red error">
              <i class="material-icons">error</i>

              <span class="mdl-typography--caption">
                {{ error_message|e }}
              </span>
            </p>
          </div>

          {% if analytics_tracking_id is not empty %}
            <script>
              gtag('event', '{{ error_message|e('js')|raw }}', {
                'event_category': 'error',
                'event_label': 'backupcode'
              });
            </script>
          {% endif %}
        {% endif %}

        <div class="mdl-card__actions" layout-children="row">
          <span flex></span>
          <button name="submitMfa" class="mdl-button mdl-button--raised mdl-button--primary">
            {{ '{mfa:button_verify}'|trans }}
          </button>
        </div>

        {{ include('other_mfas.twig') }}
      </div>

      <div>
        <label for="rememberMe"  class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
          <span class="mdl-checkbox__label">
              {{ '{mfa:remember_this}'|trans }}
          </span>
          <input type="checkbox" id="rememberMe"  name="rememberMe" {% if rememberMePreference == 'checked' %}checked{% endif %} class="mdl-checkbox__input">
        </label>
      </div>
    </form>
  </main>
</div>
</body>
</html>
